<%= render 'books/list', books: @books %>
<%= flash[:notice] %>
<% if @user.errors.any? %>
<div id = "error_explanation" >
 <h2> <%= @user.errors.count %>errors prohibited this book from being saved:</h2>
  <br>
 <ul> <% @user.errors.full_messages.each do |message| %>
   <li> <%= message %> </li>
  <% end %>
<ul>  </div>
<% end %>
      <main>
        <p id="notice"></p>
        <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>



         <%= form_with model:@user,url: user_path(@user), method: :patch, local: true do |f| %>
         <div class="form-group">
        <label for="user_name">Name</label><br>
        <%= f.text_field :name, id:"user_name", placeholder:"名前" %>

      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
         <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>

        <label for="user_introduction">Introduction</label><br>
          <%= f.text_field :introduction, id:"user_introduction" %>
<br><br>
        <div class="actions">
 <%= f.submit "'Update User" %></div>

      <% end %>
  </div>
</div>

      </main>
    <footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

  </body>